<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Filmotheque</title>
</head>
<body>
	
<div th:replace="~{fragments/fragment-entete :: frag-entete('Détail d\'un film')}"></div>

<hr />

<ul>
	<li th:text="'Titre : ' + ${film.titre}"></li>
	<li th:text="'Genre : ' + ${film.genre.titre}"></li>
	<li th:text="'Réalisateur : ' + ${film.realisateur.nom} + ' ' + ${film.realisateur.prenom}"></li>
	<li th:text="'Année : ' + ${film.annee}"></li>
	<li th:text="'Durée : ' + ${film.duree}"></li>
	<li th:text="'Synopsis : ' + ${film.synopsis}"></li>
</ul>




</body>
</html>