<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Se connecter</title>
</head>

<div th:replace="~{fragments/fragment-entete :: frag-entete('Accueil')}"></div>

<body>
	<h1>Page de connexion</h1>

	<form  th:action="@{/login}" method="post">
			<!-- block d'affichage des erreurs-->
		<ul>
		<li th:if="${param.error}" >Email ou mot de passe incorrect</li>
		<li th:if="${param.logout}" >Vous êtes bien déconnectés</li>
		</ul>
		
		<label for="idUsername">Email campus-eni.fr</label>
		<input type="text" id="idUsername" name="username"/>
		
		<label for="idPassword">Mot de passe</label>
		<input type="password" id="idPassword" name="password"/>
		
		
		
		
		<button type="submit">Se connecter</button>
		
		
	</form>


</body>
</html>